#!/bin/sh

# Location of the Panda3D sources 
PANDA_PATH=~/Workspace/panda3d
PANDA_BUILD_PATH=$PANDA_PATH/built
PANDA_ANDROID_BUILD_PATH=$PANDA_PATH/android-built

# Location of the chosen android toolchain
# Notas:
#	In r7c the prefix was i686-android-linux
# 	In r8b the prefix changed to i686-linux-android

#ANDROID_NDK_PATH=~/android-ndk-r7c
#ANDROID_LEVEL=14
#ANDROID_ARCH=arm
#ANDROID_ARCH_2=armeabi
#ANDROID_ARCH_COMPLETE=arm-linux-androideabi
#ANDROID_ARCH_TOOLS_PREFIX="arm-linux-androideabi"
#ANDROID_COMPILER=4.4.3

#ANDROID_NDK_PATH=~/android-ndk-r7c
#ANDROID_LEVEL=14
#ANDROID_ARCH=x86
#ANDROID_ARCH_2=x86
#ANDROID_ARCH_COMPLETE=x86
#ANDROID_ARCH_TOOLS_PREFIX="i686-android-linux"
#ANDROID_COMPILER=4.4.3

ANDROID_NDK_PATH=~/android-ndk-r8b
ANDROID_LEVEL=14
ANDROID_ARCH=arm
ANDROID_ARCH_2=armeabi
ANDROID_ARCH_COMPLETE=arm-linux-androideabi
ANDROID_ARCH_TOOLS_PREFIX="arm-linux-androideabi"
ANDROID_COMPILER=4.6

#ANDROID_NDK_PATH=~/android-ndk-r8b
#ANDROID_LEVEL=14
#ANDROID_ARCH=x86
#ANDROID_ARCH_2=x86
#ANDROID_ARCH_COMPLETE=x86
#ANDROID_ARCH_TOOLS_PREFIX="i686-linux-android"
#ANDROID_COMPILER=4.6

ANDROID_OPTIMIZE="1"

# Where you wish to copy the libraries the build
INSTALL_LIB_PATH="panda3d-android/jni/panda3d-libs"

# Kinda automatic now
ANDROID_TOOLCHAIN_NAME=android-toolchain-"$ANDROID_LEVEL"-"$ANDROID_ARCH"-"$ANDROID_COMPILER"
ANDROID_PLATFORM_PATH="$ANDROID_NDK_PATH"/android-"$ANDROID_LEVEL"/arch-"$ANDROID_ARCH"
ANDROID_TOOLCHAIN_PATH=$PWD/$ANDROID_TOOLCHAIN_NAME
ANDROID_SYSROOT=$ANDROID_TOOLCHAIN_PATH/sysroot
